.registerContainer {
  width: 100%;
  height: calc(100% - 45px);
  background: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
}

.HeaderForm {
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #f9f9f9;
  display: flex;
}

.profileHeader {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #f2f2f2;
}

.profileHeader p {
  color: #424242;
  font-size: 16px;
}

.infoHeader {
  width: calc(100% - 200px);
}

.contentForm {
  width: 100%;
  height: calc(100% - 70px);
  box-sizing: border-box;
}

.mainForm {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
}

.imageSection {
  width: 200px;
  height: 100%;
  border-right: 1px solid #f2f2f2;
  overflow-y: auto;
}

.inputSection {
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: auto;
}

.footerForm {
  width: 100%;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  padding: 1px;
}

.deleteSectionBtn {
  width: 200px;
  height: 100%;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteSectionBtn button {
  width: fit-content;
  height: 35px;
  padding: 8px 20px;
  border-radius: 20px;
  background: #ee4c48;
  color: #f6f6f6;
  font-family: myFont, serif;
  box-sizing: border-box;
  border: none;

}

.RegisterSectionBtn {
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 60px;
  box-sizing: border-box;
}

.btnRegister {
  width: fit-content;
  height: 35px;
  padding: 8px 20px;
  box-sizing: border-box;
  background: #489bee;
  color: #ffffff;
  font-family: myFont, serif;
  border: none;
  margin-right: 20px;
  border-radius: 20px;
}

.btnCancel {
  width: fit-content;
  height: 35px;
  padding: 8px 20px;
  box-sizing: border-box;
  background: transparent;
  color: #c8c8c8;
  font-family: myFont, serif;
  border: 1px solid #c8c8c8;
  margin-right: 20px;
  border-radius: 20px;
}

.myRow {
  width: 100%;
  min-height: 100px;
  padding: 20px 60px 30px 60px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.labelSection {
  width: 150px;
}

.inpustSection {
  width: calc(100% - 150px);
  position: relative;
}

.myLabel {
  font-family: myFont, serif;
  font-size: 16px;
  color: #424242;
}

.myLabel span {
  color: #ef5450;
}

.myInput {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
  padding: 0 20px;
  font-family: myFont, serif;
  color: #424242;
  font-size: 14px;
  box-sizing: border-box;
}

.mySelect {
  padding-right: 10px;
  box-sizing: border-box;
}

.error {
  color: #ef504c;
  font-size: 14px;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
}

.iconMessage {
  width: 12px;
  margin-right: 5px;
}

.success {
  color: #40d78f;
  font-size: 13px;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
}

.avatarSection {
  width: 150px;
  height: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10px;
  box-sizing: border-box;
  position: relative;
  /*margin-bottom: 20px;*/
}

.moreInfo {
  width: 100%;
  height: auto;
  padding: 30px 10px;
  box-sizing: border-box;
}

.cardInfo {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.cardInfo p {
  font-size: 13px;
  color: #717171;
}

.cardInfo span {
  font-size: 10px;
  color: #808080;
}

.avatarSection p {
  font-size: 14px;
  color: #424242;
  font-weight: bold;
}

.avatarSection span {
  color: #808080;
  font-size: 12px;
}

.avatarUser {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.fileButton {
  width: 18px;
  height: 18px;
  background: #4aa2b7;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
}

.fileButton img {
  width: 10px;
  height: 10px;
}

.fileSection {
  width: 22px;
  height: 22px;
  background: white;
  position: absolute;
  top: 23px;
  right: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen  and (max-width: 780px) {
  .HeaderForm,.moreInfo,.deleteSectionBtn{
    display: none;
  }
  .RegisterSectionBtn{
    width: 100%;
  }
  .mainForm{
    display: block;
  }
  .contentForm{
    height: 100%;
  }
  .imageSection{
    width: 100%;
    height: 150px;
  }
  .myRow{
    padding: 20px;
    box-sizing: border-box;
    display: block;
    height: auto;
  }
  .inputSection{
    width: 100%;
    height: calc(100% - 150px);
  }
  .RegisterSectionBtn{
    padding: 10px;
    box-sizing: border-box;
  }
  .labelSection,.inpustSection{
    width: 100%;
  }
  .labelSection{
    margin-bottom: 10px;
  }
  .success,.error{
    position: relative;
  }
}
