<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-triangle-path"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="header">
  <button routerLink="/List"><img src="../../assets/images/back-button.svg" alt="backButton"> Back to List</button>
</div>
<div class="registerContainer">
  <div class="HeaderForm">
    <div class="profileHeader">
      <p>User Account</p>
    </div>
    <div class="infoHeader"></div>
  </div>
  <div class="contentForm">
    <div class="mainForm">
      <div class="imageSection">
        <div class="avatarSection">
          <img *ngIf="!imgUser" [src]="imgUser" alt="avatar" class="avatarUser">
          <img *ngIf="imgUser" [src]="imgUser" alt="avatar" class="avatarUser">
          <div class="fileSection">
            <input
              (change)="onFileChange($event)"
              style="display: none"
              type="file"
              id="avatar"
              name="avatar"
              #fileInput>
            <button class="fileButton" (click)="fileInput.click()">
              <img src="../../assets/images/plus.svg" alt="plus">
            </button>
          </div>

          <p>{{firstName}} {{lastName}}</p>
          <span>{{type}}</span>
        </div>
        <div class="moreInfo">
          <div class="cardInfo">
            <p>Company</p>
            <span>{{company}}</span>
          </div>
          <div class="cardInfo">
            <p>Created</p>
            <span>{{registerAt}}</span>
          </div>
          <div class="cardInfo">
            <p>Updated</p>
            <span>29 May 2020</span>
          </div>
        </div>
      </div>
      <div class="inputSection">
        <form [formGroup]="form">
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="firstName">First Name <span>*</span></label>
            </div>
            <div class="inpustSection">
              <input
                [(ngModel)]="firstName"
                formControlName="name"
                id="firstName"
                maxlength="30"
                type="text"
                class="myInput">
              <div *ngIf="f.name.touched && f.name.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The name must be
                  between 1 and 30 characters long.</p>
              </div>
              <div *ngIf="f.name.touched && !f.name.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Name Is Oky.
                </p>
              </div>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="lastName">last Name <span>*</span></label>
            </div>
            <div class="inpustSection">
              <input
                [(ngModel)]="lastName"
                formControlName="lastName"
                maxlength="30"
                name="lastName"
                id="lastName"
                type="text"
                class="myInput"/>
              <div *ngIf="f.lastName.touched && f.lastName.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The lastname must
                  be between 1 and 30 characters long.</p>
              </div>
              <div *ngIf="f.lastName.touched && !f.lastName.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Last Name Is
                  Oky.</p>
              </div>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Email">Email</label>
            </div>
            <div class="inpustSection">
              <input
                formControlName="email"
                name="Email"
                id="Email"
                type="email"
                class="myInput">
              <div *ngIf="f.email.touched && f.email.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">Invalid Email.</p>
              </div>
              <div *ngIf="f.email.touched && !f.email.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Email Is Oky.
                </p>
              </div>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Phone">Phone</label>
            </div>
            <div class="inpustSection">
              <input
                formControlName="mobileNumber"
                name="Phone"
                id="Phone"
                type="text"
                class="myInput">
              <div *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">Invalid Mobile
                  Number .</p>
              </div>
              <div *ngIf="f.mobileNumber.touched && !f.mobileNumber.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Mobile Number
                  Is Oky.</p>
              </div>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Company">Company</label>
            </div>
            <div class="inpustSection">
              <input
                [(ngModel)]="company"
                formControlName="companyName"
                maxlength="30"
                id="Company"
                type="text"
                class="myInput">
              <div *ngIf="f.companyName.touched && f.companyName.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The companyName
                  must be between 1 and 30 characters long.</p>
              </div>
              <div *ngIf="f.companyName.touched && !f.companyName.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">companyName Is
                  Oky.</p>
              </div>
            </div>

          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Age">Age</label>
            </div>
            <div class="inpustSection">
              <input
                formControlName="Age"
                id="Age"
                type="text"
                class="myInput">
              <div *ngIf="f.Age.touched && f.Age.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">Invalid Age.</p>
              </div>
              <div *ngIf="f.Age.touched && !f.Age.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Age Is Oky.</p>
              </div>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Address">Address</label>
            </div>
            <div class="inpustSection">
              <input
                formControlName="Address"
                id="Address"
                type="text"
                class="myInput">
              <div *ngIf="f.Address.touched && f.Address.invalid">
                <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The Address must
                  be between 4 and 100 characters long.</p>
              </div>
              <div *ngIf="f.Address.touched && !f.Address.invalid">
                <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Address Is Oky.
                </p>
              </div>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Gender">Gender</label>
            </div>
            <div class="inpustSection">
              <select
                formControlName="Gender"
                class="myInput mySelect"
                id="Gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="myRow">
            <div class="labelSection">
              <label class="myLabel" for="Type">Type</label>
            </div>
            <div class="inpustSection">
              <select
                [(ngModel)]="type"
                formControlName="Type"
                class="myInput mySelect"
                id="Type">
                <option value="user">user</option>
                <option value="client">client</option>
                <option value="owner">owner</option>
              </select>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="footerForm">
      <div class="deleteSectionBtn">
        <button (click)="removeUser()">DELETE USER</button>
      </div>
      <div class="RegisterSectionBtn">
          <button (click)="UpdateProfile()" class="btnRegister">
            UPDATE USER
          </button>
          <button routerLink="/List" class="btnCancel">
            CANCEL
          </button>
      </div>
    </div>
  </div>
</div>

