.allComponent{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
  background: #ffffff;
  overflow: auto;
}
.listContainer {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 60px;
  border-top: 1px dashed #f2f2f2;
}
.formSection{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /*overflow: auto;*/
  border: 1px solid #f2f2f2;
  /*margin-bottom: 15px;*/
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: 20px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  /*position: absolute;*/
  float: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.badgeClient{
  background: #e2e3e5;
  color: #383d41;
}
.badgeUser{
  background: #f9b995;
  color: #ffffff;
}
.badgeOwner{
  background: #40d78f;
  color: #ffffff;
}
@media screen and (max-width: 1100px){
  table{
    width: 1100px;
  }
}
