<div class="allComponent">
  <div class="formSection" id="form">
    <div class="HeaderForm">
      <div class="profileHeader">
        <p>User Account</p>
      </div>
      <div class="infoHeader"></div>
    </div>
    <div class="contentForm">
      <div class="mainForm">
        <div class="imageSection">
          <div class="avatarSection">
            <img *ngIf="!imgUser" src="../../assets/images/avatar.svg" alt="avatar" class="avatarUser">
            <img *ngIf="imgUser" [src]="imgUser" alt="avatar" class="avatarUser">
            <div class="fileSection">
              <input
                (change)="onFileChange($event)"
                style="display: none"
                type="file"
                id="avatar"
                name="avatar"
                #fileInput>
              <button class="fileButton" (click)="fileInput.click()">
                <img src="../../assets/images/plus.svg" alt="plus">
              </button>
            </div>

            <p>{{firstName}} {{lastName}}</p>
            <span>{{type}}</span>
          </div>
          <div *ngIf="editActive" class="moreInfo">
            <div class="cardInfo">
              <p>Company</p>
              <span>{{company}}</span>
            </div>
            <div class="cardInfo">
              <p>Created</p>
              <span>{{registerAt}}</span>
            </div>
            <div class="cardInfo">
              <p>Updated</p>
              <span>29 May 2020</span>
            </div>
          </div>
        </div>
        <div class="inputSection">
          <form [formGroup]="form">
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="firstName">First Name <span>*</span></label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input  [(ngModel)]="firstName"
                          formControlName="name"
                          id="firstName"
                          maxlength="30"
                          type="text"
                          class="myInput"
                          matInput>
                </mat-form-field>
                <div *ngIf="f.name.touched && f.name.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The name must be
                    between 1 and 30 characters long.</p>
                </div>
                <div *ngIf="f.name.touched && !f.name.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Name Is Oky.
                  </p>
                </div>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="lastName">last Name <span>*</span></label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input   [(ngModel)]="lastName"
                           formControlName="lastName"
                           maxlength="30"
                           name="lastName"
                           id="lastName"
                           type="text"
                           class="myInput"
                          matInput>
                </mat-form-field>
                <div *ngIf="f.lastName.touched && f.lastName.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The lastname must
                    be between 1 and 30 characters long.</p>
                </div>
                <div *ngIf="f.lastName.touched && !f.lastName.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Last Name Is
                    Oky.</p>
                </div>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Email">Email</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input   formControlName="email"
                           name="Email"
                           id="Email"
                           type="email"
                           class="myInput"
                           matInput>
                </mat-form-field>
                <div *ngIf="f.email.touched && f.email.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">Invalid Email.</p>
                </div>
                <div *ngIf="f.email.touched && !f.email.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Email Is Oky.
                  </p>
                </div>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Phone">Phone</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input   formControlName="mobileNumber"
                           name="Phone"
                           id="Phone"
                           type="text"
                           class="myInput"
                           matInput>
                </mat-form-field>
                <div *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">Invalid Mobile
                    Number .</p>
                </div>
                <div *ngIf="f.mobileNumber.touched && !f.mobileNumber.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Mobile Number
                    Is Oky.</p>
                </div>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Company">Company</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input   formControlName="companyName"
                           maxlength="30"
                           id="Company"
                           type="text"
                           class="myInput"
                           [(ngModel)]="company"
                           matInput>
                </mat-form-field>
                <div *ngIf="f.companyName.touched && f.companyName.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The companyName
                    must be between 1 and 30 characters long.</p>
                </div>
                <div *ngIf="f.companyName.touched && !f.companyName.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">companyName Is
                    Oky.</p>
                </div>
              </div>

            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Age">Age</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input   formControlName="Age"
                           id="Age"
                           type="text"
                           class="myInput"
                           matInput>
                </mat-form-field>
                <div *ngIf="f.Age.touched && f.Age.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">Invalid Age.</p>
                </div>
                <div *ngIf="f.Age.touched && !f.Age.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Age Is Oky.</p>
                </div>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Address">Address</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <input   formControlName="Address"
                           id="Address"
                           type="text"
                           class="myInput"
                           matInput>
                </mat-form-field>
                <div *ngIf="f.Address.touched && f.Address.invalid">
                  <p class="error"><img class="iconMessage" src="../../assets/images/cancel.svg" alt="">The Address must
                    be between 4 and 100 characters long.</p>
                </div>
                <div *ngIf="f.Address.touched && !f.Address.invalid">
                  <p class="success"><img class="iconMessage" src="../../assets/images/checked.svg" alt="">Address Is Oky.
                  </p>
                </div>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Gender">Gender</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <mat-select  formControlName="Gender"
                               id="Gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                    <mat-option value="other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="myRow">
              <div class="labelSection">
                <label class="myLabel" for="Type">Type</label>
              </div>
              <div class="inpustSection">
                <mat-form-field>
                  <mat-select   [(ngModel)]="type"
                                formControlName="Type"
                                id="Type">
                    <mat-option value="user">user</mat-option>
                    <mat-option value="client">client</mat-option>
                    <mat-option value="owner">owner</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="footerForm">
        <div class="deleteSectionBtn">
          <button *ngIf="editActive" (click)="removeUser_row()">DELETE USER</button>
        </div>
        <div class="RegisterSectionBtn">
          <button *ngIf="!editActive" mat-stroked-button
                  (click)="RegisterUser()"
                  class="btnRegister">REGISTER USER</button>
          <button *ngIf="editActive" mat-stroked-button
                  (click)="UpdateProfile()"
                  class="btnRegister">UPDATE USER</button>
          <button mat-stroked-button
                  (click)="resetForm()"
                  class="btnCancel">CANCEL</button>

        </div>
      </div>
    </div>
  </div>
  <div class="listContainer">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-triangle-path"
      [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element?.photo">
            <img [src]="element?.photo" class="avatar" [alt]="element?.name">
          </div>
          <div *ngIf="!element?.photo">
            <img *ngIf="!element?.photo" src="../../assets/images/avatar.svg" class="avatar" [alt]="element?.name">
          </div>
          {{element?.name}}&nbsp;{{element?.last_name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> GENDER</th>
        <td mat-cell *matCellDef="let element"> {{element?.gender}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMAIL</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> PHONE</th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> COMPANY</th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> AGE</th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="setting" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="text-align: center!important;" mat-cell *matCellDef="let element">
          <button [matMenuTriggerFor]="menu" id="basic" type="button" mat-button>
            <img src="../../assets/images/more.svg" alt="more">
          </button>
          <mat-menu #menu="matMenu">
            <a class="menuBtn" (click)="getUser(element)" mat-menu-item>
              <img src="../../assets/images/edit.svg" alt="edit">
              Edit
            </a>
            <button (click)="removeUser(element?.id)" class="menuBtn" mat-menu-item>
              <img src="../../assets/images/delete.svg" alt="delete">
              Remove
            </button>

          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20]" [length]="resultsLength" showFirstLastButtons></mat-paginator>
  </div>
</div>

