.layoutContainer{
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background: linear-gradient(90deg,#53bbd2,#53bbd3,#52bad4,#51b6d4,#4aa2b7,#499fea);
}
.layoutContent{
  width: 100%;
  height: 100%;
  /*padding: 25px;*/
  background: #f2f2f2;
  box-shadow: 0 -5px 20px 0 rgba(0,0,0,.1);
  box-sizing: border-box;

}
.HeaderFixed{
  width: 100%;
  height: 60px;
  background: #ffffff;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
  box-sizing: border-box;
}
.HeaderFixed button{
  min-width: 120px;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  border-radius: 50px;
  border: none;
  background: #489bee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  font-family: myFont,serif!important;
}
.iconRegister{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main{
  width: 100%;
  height: calc(100% - 60px);
  padding: 0px 35px 15px 35px;
  box-sizing: border-box;
}
@media screen and (max-width: 780px){
  .layoutContainer{
    padding: 0;
  }
  .main{
    padding:0px 5px 5px 5px;
  }
}
