<div class="layoutContainer">
  <div class="layoutContent">
    <div class="HeaderFixed">
      <button routerLink="/Register">ADD USER <img src="../../assets/images/addSvg.svg" alt="add User"
                                                   class="iconRegister"></button>
    </div>
    <div class="main">
      <div class="allContainer">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
