
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-user-primary: mat-palette($mat-indigo);
$app-user-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-user-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-user-theme: mat-light-theme((
  color: (
    primary: $app-user-primary,
    accent: $app-user-accent,
    warn: $app-user-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-user-theme);

.mat-cell {
  padding: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}
.mat-header-cell{
  height: 55px;
  font-size: 15px !important;
}
.mat-cell, .mat-header-cell {

  text-align: left !important;
  position: relative;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 20px 0!important;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border-bottom-color: #f2f2f2;
}
.mat-form-field-infix {
  padding: 0;
  border-top: 0;
  height: 35px;
  width: 100%;

}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  display: flex;
  align-items: center;
}
.mat-form-field{
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
  padding: 0 20px;
  font-family: myFont, serif;
  color: #424242;
  font-size: 14px;
  box-sizing: border-box;
}
.mat-form-field-wrapper,.mat-form-field-flex{
  height: 35px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  display: none;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0;
}
.mat-stroked-button{
  width: fit-content;
  height: 35px;
  padding: 8px 20px;
  box-sizing: border-box;
  background: transparent;
  color: #c8c8c8;
  font-family: myFont, serif;
  border: 1px solid #c8c8c8;
  margin-right: 20px!important;
  border-radius: 20px!important;
}
.mat-stroked-button .btnRegister{
  background: #489bee;
  color: #ffffff;
  border: none;
  margin-right: 20px!important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.menuBtn img{
  width: 15px;
  margin-right: 10px;
}
